.venv/
app/.venv/
__pycache__/
*.pyc
*.pyo
*.pytest_cache/
.ipynb_checkpoints/
notebooks/
tests/
*.log
.env
.DS_Store
.git/
.gitignore
.gitattributes

# project
bak/
uploads/
notebooks/

# 문서
*.md
README.md

# 테스트
tests/